* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-color: #435165;
}

.formula {
	display: center;
  	width: 500px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 20px auto;
}
.formula h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.formula form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.formula form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width:150px;
  	height:30px;
  	background-color: #3274d6;
  	color: #ffffff;
}


.formula form input[type="password"], .formula form input[type="text"], .formula form select {
	/*width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;*/
	justify-content: center;
	font-size:15px;
   	padding:4px 15px;
    	border: 1px solid #dee0e4;;
    	width: 310px;
	height: 30px;
    	margin: 2px 0 20px 10px;
    	display: block;
}
.formula form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.formula form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}
.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.4s;
}


.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 95%;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;

}
.navtop div a:hover {
	color: #eaebed;
}
.head {
	display: flex;
	width: 95%;
	margin: 0 1 auto;

}
.headblocks {
	flex: 33%;
	padding: 25px 0;
	font-size: 24px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.headblocks a {
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #3274d6;
}
.headblocks a:hover {
	color: #32a4d6;
}
.headblocks form {
  	display: flex;
  	flex-wrap: wrap;
	flex-flow: row wrap;
  	justify-content: left;
	align-items: left;
  	padding-top: 0px;
}
.headblocks form input {
	display: inline;
  	/*vertical-align: middle;
  	margin: 5px 5px 5px 0;
  	padding: 10px;*/
  	background-color: #fff;
  	border: 1px solid #ddd;
	}
.headblocks form input[type="submit"] {
  	/*width: 100%;
  	padding: 15px;
 	margin-top: 20px;*/
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.4s;
}
.headblocks form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.5s;
}

.notion {
	display: center;
  	width: 95%;
	font-size: 25px;
	color: #3295d6;
	font-weight: bold;
  	text-align: center;
  	margin: 50px auto;
}


body.loggedin {
	background-color: #f3f4f7;
}

.foot {
	display: center;
  	width: 95%;
	font-size: 15px;
	color: #4a536e;
	font-weight: normal;
  	text-align: center;
  	/*background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);*/
  	margin: 100px auto;
}
.listing {
	margin: 0 auto;
}
.listing table {
  border-collapse: collapse;
  width: 100%;
}

.listing th, td {
  text-align: left;
  padding: 8px;
}


.listing tr:nth-child(even){background-color: #ffffff}

.listing th {
  background-color: #2f3947;
  color: white;
}
.listing h3 {
  	color: #4CAF50;
	padding-left: 8px;
}

@media screen and (max-width: 600px) {
  .headblocks {
    width: 100%;
  }
}

a {
	color: #3274d6;
}
a:hover {
	color: #32a4d6;
}


/*
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child  {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.content a {
	padding: 0 20px;
	text-decoration: none;
	color: #f49e42;
	font-weight: bold;
}
.content a i {
	padding: 2px 8px 0 0;

}
.content a:hover {
	color: #f4be41;
}


.content form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.content form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
 	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}
.content form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.content form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #3274d6;
 	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.content form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}

*/
